.vhs-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #efefef;
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;
    font-size: 1.6em; /* Un peu plus grand */
    letter-spacing: 4px; /* Plus d'espace entre les lettres pour le look rétro */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    padding: 20px 0;
}
